@font-face{
    font-family: 'Varela';
    src: url('Fonts/VarelaRound-Regular.otf');
}

body {
    font-family: Varela;
    text-transform: uppercase;
    font-size:13px;
}

.lab{
    color: #666;
}

.glyphicon-exclamation-sign {
    cursor: help;
    color: #FC6423;
}

.orange-tooltip + .tooltip > .tooltip-inner {
    background-color: #f2ae10;
    position: absolute;
    left: -100px;
    min-width:120px;
    width: auto;
}

.orange-tooltip + .tooltip > .tooltip-arrow {
    border-bottom-color: #f2ae10;
}

#tip{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.registration-step1 {
    width: 850px;
    height: 100vh;
    margin: 0 auto 0;
    position: relative;
}

.step1-form-container{
    position: absolute;
    top: 200px;
    width: 800px;
}

select{
    width:220px;
    height:26px;
}

.step1-header {
    position: absolute;
    top: 40px;
    text-transform: uppercase;
}

.step1-label {
    font-size: 22px;
    margin-bottom: 0;
    margin-top: 0;
}

.step1-step {
    font-size: 14px;
    color: gray;
    margin-bottom: 0;
    margin-top: 0;
}

.step1-contact {
    font-size: 18px;
}

.field-label {
    text-align: right;
    width: 130px;
}

.field-with-icon {
    padding-left: 15px;
    padding-right: 10px;
    width: 100%;
}

.field{
    width:270px;
}

.blue{
    top: -10px;
    color: lightblue;
}

.btn-group{
    width: 220px;
}


.step1-form{
    width: 800px;
}

.form-unit{
    width:400px;
    height: 45px;
}

#email{
    width:220px;
}

input{
    width: 220px;
}

.step1-buttons {
    position: absolute;
    bottom: 100px;
    left: 0;
    right: 0;
    text-transform: uppercase;
}

#next{
    float: right;
    min-width: 135px;
    text-transform: inherit;
}

.footer{
    position: absolute;
    bottom: 10px;
    right: 0;
    
}

