@font-face {
    font-family: 'Varela';
    src: url('Fonts/VarelaRound-Regular.otf');
}

body {
    font-family: Varela;
    text-transform: uppercase;
    font-size: 13px;
}

.orange-tooltip + .tooltip > .tooltip-inner {
    background-color: #f2ae10;
    position: absolute;
    left: -100px;
    min-width: 120px;
    width: auto;
}

.orange-tooltip + .tooltip > .tooltip-arrow {
    border-bottom-color: #f2ae10;
}

.lab {
    color: #666;
}

.glyphicon-exclamation-sign {
    cursor: help;
    color: #FC6423;
}

.registration-step3 {
    width: 850px;
    height: 100vh;
    margin: 0 auto 0;
    position: relative;
}

.step3-header {
    position: absolute;
    top: 40px;
    text-transform: uppercase;
}

.step3-label {
    font-size: 22px;
    margin-bottom: 0;
    margin-top: 0;
}

.step3-step {
    font-size: 14px;
    color: gray;
    margin-bottom: 0;
    margin-top: 0;
}

.step3-address {
    font-size: 18px;
}

.step3-form-container {
    position: absolute;
    right: 0;
    left: 0;
    top: 190px;
}

.step3-form {
    float: left;
}

.form-field{
    height: 35px;
}

.field-label {
    vertical-align:top;
    text-align: right;
    width: 270px;
}

.field-with-icon {
    padding-left: 15px;
    padding-right: 10px;
    width: 100%;
}

.field {
    width: 230px;
}

.blue {
    top: -10px;
    color: lightblue;
}

.country, .state{
    width:220px;
    height: 25px;
}

input {
    width: 220px;
    height: 25px;
}

.form-unit{
    height: 40px;
}

.Address{
    width: 220px;
    height: 50px;
    resize: none;
}

.step3-buttons {
    position: absolute;
    bottom: 100px;
    left: 0;
    right: 0;
    text-transform: uppercase;
}

#next {
    float: right;
    min-width: 135px;
    text-transform: inherit;
}

#back {
    float: right;
    min-width: 135px;
    margin-right: 15px;
}

.footer {
    text-transform: uppercase;
    position: absolute;
    bottom: 10px;
    right: 0;
}