@{
    ViewBag.Title = "FinalPage";
}

<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Content/final.css" />
</head>
<body>
    <div class="fin-container">
        <div class="header">
            <h1>Thank you for registering!</h1>
        </div>
        <div class="message">
            <p>A registration confirmation email was sent to the email address provided. Your registration will be sent for approval and activation to the Administrator. You will receive an email when your account is ready to use.</p>

        </div>
        <div class="final-button">
            <a class="to-login" href="#">Back to Login Page</a>
        </div>
        <div class="footer">
            CORAL MULTI-SIDED PLATFORM DEV+ Internal
        </div>
    </div>
</body>
